

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
h1{
    margin: 3rem;
}
img{
    width: 100%;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}